
@using System.Web.UI.WebControls
@using OnlineHospitalInformationSystem.Models
@model HospitalAddModel



@{
    ViewBag.Title = "AddHospital";

    }



<h2>AddHospital</h2>

@using (Html.BeginForm("AddHospital", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))


{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Hospital</h4>
        <hr />
        @Html.ValidationSummary(true)
        <table style="border-collapse: separate;border-spacing:1.9em;">
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            </td>
            <td>@Html.TextAreaFor(model => model.Name,new{@class="form-control"})</td>
            <td>@Html.ValidationMessageFor(model => model.Name)</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
        </td>
        <td>@Html.TextAreaFor(model => model.Location, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.Location)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.HospitalType, new { @class = "control-label col-md-2" })</td>
        <td>
            @Html.DropDownListFor(m => m.HospitalType, new List<SelectListItem>
                    {
                        new SelectListItem{Text = "Private",Value = "Private"},
                        new SelectListItem{Text = "Government",Value = "Government"}
                    }, "Select", new { Style = "min-width:200px" ,@class="form-control"})
    </td>
    <td>@Html.ValidationMessageFor(model => model.HospitalType)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })</td>
        <td>@Html.TextAreaFor(model => model.Description, new { @class = "form-control" })</td>
        <td>@Html.ValidationMessageFor(model => model.Description)</td>
    </tr>
    <tr>
        <td>Image</td>
        <td>@Html.FileFor(model => model.File)</td>
        <td>@Html.ValidationMessageFor(model => model.File)</td>
        <td>
            <img alt="Field for image cutting" id="preview" src="@Url.Content("~/Content/empty.png")" style="max-height: 250px;max-width: 450px" />
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="Add Hospital" class="btn btn-default" /></td>
        <td></td>
    </tr>
    </table>
    

    </div>
}

<script id="successTemplate" type="text/x-kendo-template">
    <div class="hospitalInsertion-success">

        <img src="/Icons/success-icon.png" />
        <h3>New Record Inserted Successfully</h3>
    </div>
</script>
<div>
    @Html.ActionLink("Back to List", "DisplayAdminHomePage")
</div>
<span id="notification" style="display:none;"></span>
<input type="hidden" value="@ViewBag.successVal" id="SuccessNotificationIdBox"/>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script src="~/KendoUI/kendo.all.min.js"></script>
<script>

    //$(document).ready(function () {
 var notification = $("#notification").kendoNotification({
            position: {
                pinned: true,
                top: 10,
                left: 280
            },
            autoHideAfter: 9000,
            stacking: "down",
            templates: [ {
                type: "hospitalInsertion-success",
                template: $("#successTemplate").html()
            }]

        }).data("kendoNotification");
 if ($("#SuccessNotificationIdBox").val() == 1) {
    
     notification.show({
         message: "Upload Successful"
     }, "hospitalInsertion-success");
     $("#SuccessNotificationIdBox").val = 0;
 };

       

    

    

    $(function() {

        initSelect();

     
    });


</script>



}
